<!DOCTYPE html>
<html>
<head>
    <title>添加代理商</title>
    <script src="{{base_url('public/admin/js/jquery.min.js')}}"></script>
</head>
<body>
    <input type="text" name="proxy" id="proxy">
    <input type="text" name="passwd" id="passwd">
    <button id="add_proxy">添加</button>
    <script type="text/javascript">
    $(function(){
        $('#add_proxy').click(function(){
            proxy = $('#proxy').val()
            passwd = $('#passwd').val()
            $.ajax({
                type: 'POST',
                url: '/add-proxy',
                data: {proxy:proxy,passwd:passwd},
                dataType: "json",
                    success: function(data){
                        console.log(data);
                        if(data.status == 0){
                            alert('添加成功');
                        }else{
                            alert(data.msg);
                        }
                    }
            });
        })
    })
    </script>
</body>
</html>