{% extends "Common/mobile_common.twig" %}
{% block bodyClass %}style="background:#f9f6f3;"{% endblock %}
{% block container %}
<div class="wrapper" style="">
	<div class="nav">
		<div class="page_title">
			<a class="arrow" href="{{base_url('mobile-proxy-manage-list')}}"><span class="arrow_left"></span></a>
				<span>添加代理商</span>
		</div>
	</div>

	<div class="input-group-box">
		<div class="input-group clearfix">
			<label>代理商ID</label>
			<input type="text" placeholder="点击编辑" id="proxyid">
		</div>
		<div class="input-group clearfix">
			<label>确认代理商ID</label>
			<input type="text" placeholder="点击编辑" id="confirm_proxyid">
		</div>
	</div>

	<div class="btn add_proxy">添 加</div>
	<div class="font-tip" style="width:90%;text-align:left;font-size:12px;margin:auto;margin-top:10px;">注：代理商账号创建后的初始密码为<span>12345678</span>，请联系代理商尽快修改密码。 </div>
</div>
{% endblock %}

{% block script %}
	<script>
	$(function(){

		$('.add_proxy').click(function(){
            var proxyid =  $("#proxyid").val();
            var confirm_proxyid =  $("#confirm_proxyid").val();
            $.ajax({
                type: 'POST',
                url: '/add-proxy',
                data: {proxyid:proxyid,confirm_proxyid:confirm_proxyid},
                dataType: "json",
                    beforeSend: function(){
                        layer.open({type: 2,shade:'overflow: auto;'});
                     // Handle the beforeSend event
                    },
                    success: function(data){
                        layer.closeAll()
                        if(data.status == 0){

							layer.open({
							    content: '添加成功'
							    ,btn: '确定',
							    yes:function(){
                            		location.reload()
							    }
							});

                        }else{
							layer.open({
							    content: data.msg
							    ,btn: '确定'
							});
                        }
                    }
            });
		});


	})
	</script>
{% endblock %}
