{% extends "Common/mobile_common.twig" %}
{% block bodyClass %}style="background:#f9f6f3;"{% endblock %}
{% block container %}
<div class="wrapper" style="">
	<div class="nav">
		<div class="page_title">
			<a class="arrow" href="{{base_url('mobile-index')}}"><span class="arrow_left"></span></a>
				<span>代理商充值</span>
			<div class="page_title_right"><a href="{{base_url('mobile-proxy-recharge-list')}}">充值记录</a></div>
		</div>
	</div>

	<div class="input-group-box">
		<div class="input-group clearfix">
			<label>代理商ID</label>
			<input type="text" placeholder="点击编辑" id="proxy_id">
		</div>
		<div class="input-group clearfix">
			<label>确认代理商ID</label>
			<input type="text" placeholder="点击编辑" id="confirm_proxy_id">
		</div>
		<div class="input-group clearfix">
			<label>充值钻石数</label>
			<input type="text" placeholder="点击编辑" id="diamond">
		</div>
	
	</div>

	<div class="btn recharge">充 值</div>
    {% if userInfo.type != 0 %}
		<div class="font-tip">当前可用钻石数：<span>{{ userInfo.diamond }}</span> 颗</div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
	<script>
	$(function(){
        $('.recharge').click(function(){
            var proxy_id =  $("#proxy_id").val();
            var confirm_proxy_id =  $("#confirm_proxy_id").val();
            var diamond =  $("#diamond").val();
            $.ajax({
                type: 'POST',
                url: '/proxy-recharge',
                data: {proxy_id:proxy_id,confirm_proxy_id:confirm_proxy_id,diamond:diamond},
                dataType: "json",
                    beforeSend: function(){
                        layer.open({type: 2,shade:'overflow: auto;'});
                    },
                    success: function(data){
                    	layer.closeAll()
                        if(data.status == 0){
                        	  //提示
							layer.open({
							    content: '充值成功'
							    ,btn: '确定',
							    yes:function(){
                            		location.reload()
							    }
							});
  							
                        }else{
							layer.open({
							    content: data.msg
							    ,btn: '确定'
							});
                        }

                    }
            });
        })
	})
	</script>
{% endblock %}