{% extends "Common/mobile_common.twig" %}
{% block bodyClass %}style="background:#f9f6f3;"{% endblock %}
{% block style %}
	<style type="text/css">
		.nav{
			position: fixed;
			margin:0 auto;  
			left:0;  
			right:0;  
		}
	</style>
{% endblock %}	
{% block container %}
<div class="wrapper"> 
	<div class="nav">
		<div class="page_title">
			<a class="arrow" href="{{base_url('mobile-player-recharge')}}"><span class="arrow_left"></span></a>
			<span>充值记录</span>
		</div>
	</div>

	<div class="input-group-box" style="padding-top:55px;">
							
	</div>
	<div class="page" style="display: none;">1</div>
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
       	function pageAjax(page){
            $.ajax({
                type: 'POST',
                url: '/recharge-list/'+page,
                data: {pagesize:12},
                dataType: "json",
                    beforeSend: function(){
                        layer.open({type: 2,shade:'overflow: auto;'});
                    },
                    success: function(data){
                    	layer.closeAll()
                        if(data.status == 0){
                        	console.log(data)
                        	str = '';
                            $.each(data.data.list, function(index,val) {
                            	str+='<div class="input-group recharge-list clearfix">';
                            	str+='<div class="input-group-left">';
                            	str+='<span class="proxy">玩家ID：<i class="accountid">'+val.accid+'</i></span>';
                            	str+='<span class="createtime">'+val.create_time+'</span>';
                            	str+='</div><div class="input-group-right right-diamond">+'+val.diamond+'</div></div>';
                            });
                            if(data.data.list.length == 0){
                            	  layer.open({
								    content: '没有更多数据了...'
								    ,skin: 'msg'
								    ,time: 2 //2秒后自动关闭
								  });
                            }else{
		                       	$('.input-group-box').append(str);
	                        	page = $('.page').html();
	                        	$('.page').html(parseInt(page)+1)
                            }		
     
                        }
                    }
            });
        }

		$(function(){

			pageAjax(1);
		 	$(document).bind("scroll", function(event){
			    if( $(document).scrollTop() >= $(document).height()-$(window).height() ){
			    		page = $('.page').html();
			    		pageAjax(page);
			     }
		 	});



		})


	</script>

{% endblock %}

