body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,button{margin:0;padding:0} 
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}

.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.bg{
	background-image: url(../img/bg.png);
	width: 100%;
	height: 100%;
	position: fixed;
	min-width: 1000px;
	background-position: center;
	background-repeat: no-repeat;
}



.login_box{
	width: 430px;
    height: 300px;
    border: 2px solid rgba(255,255,255,0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -215px;
    margin-top: -150px;
	/*background: #969698;*/
  	background-color:rgba(0,0,0,0.1);
  	border-radius: 5px;
}

.login-title{
	text-align: center;
	font-size:24px;
	color: #fff;
	font-weight: bold;
	margin-top: 15px;
}

.login-small-title{
	text-align: center;
	color: #fff;
	margin-bottom:25px;
}

.login-input input{
	display: block;
	margin:auto;
	margin-bottom: 10px;
	height: 44px;
	width: 290px;
	border:1px solid rgba(236,229,220,0.5);
	background: rgba(220,209,198,0.5);
	padding: 2px 5px;
	text-align:center;
	border-radius: 5px;


}

.login-input input::-webkit-input-placeholder {
  color: #f9f4ef;
}
.login-input input:-moz-placeholder {/* Firefox 18- */
  color: #f9f4ef;
}
.login-input input::-moz-placeholder{/* Firefox 19+ */
 color: #f9f4ef;
}
.login-input input:-ms-input-placeholder {
  color: #f9f4ef;
}


.login-btn{
	width: 300px;
	background: #69d0d1;
	padding: 10px 0;
	margin:auto;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	display: block;
	border:none;
}

.message-tip{
	display: block;
	text-align: center;
	color: red;
	width: 100%;
	margin-top: 10px;
	/*display: none;*/
}

.manage_head{
	height: 40px;
}


.content{
	width: 100%;
	height: 100%;
	display:flex;
}

.content-left{
    width:200px; height:100%;
    flex:none;
	background: rgba(240,240,240,0.8);
	
}

.content-right{
    height:100%;
    background:rgba(255,255,255,0.8);
    flex:1;        /*flex布局*/
}

.menus{
	width: 100%;
	
	text-align: center;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

.menus ul li {
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(202,201,201,0.8);
}

.menus ul li.active{
	background: rgba(190,190,190,0.8);
}

.content-right .tabs {
	margin-top: 20px;
	margin-left: 50px;
	border-bottom: 1px solid #cacbcb;
}

.content-right .tabs ul li{
	float: left;
	padding-bottom: 5px;
	margin-bottom: -1px;
	margin-right:25px;
	font-size: 14px;
	cursor: pointer;
}


.content-right .tabs ul .active{
	border-bottom: 1px solid #69d0d1;
}

.input-group{
	width: 270px;
	height: 400px;
	margin-left: 50px;
	margin-top: 20px;
	position: relative;
}

.input-group span{
	display: block;
	float: right;
	margin-bottom: 15px;
	color: #333333;
	font-size: 14px;
}

.input-group span input{
	padding: 5px 5px;
	width: 150px;
}

.manage_head_title{
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding-left: 50px;
	line-height: 40px;
	float: left;
}

.logout{
	float: right;
	margin-right: 50px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	display: inline-block;
}

.logout a{
	font-size: 16px;
	color: #fff;
	text-decoration: underline;
}

.recharge{
	width: 100px;
	background: #69d0d1;
	padding: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	display: block;
	border:none;
	float: right;
	margin-right: 65px;
	/*margin-left: 88px;*/
}

#recharge_list{
	border: 0;
	margin-top: 25px;
	margin-left: 100px;
	width: 700px;


}

#recharge_list tr{
	border-bottom: 1px solid #cacbcb;
	height: 40px;
}

#recharge_list tr td{
	text-align: center;
	line-height: 40px;
}


.pager{
	margin-left: 320px;
	margin-top: 40px;;
}
.pager .current{
	display: inline-block;
	margin: 0 15px;
}
.pager .prev,.pager .next{
	background: #69d0d1;
	color: #fff;
	padding: 5px;
	width: 80px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.search{
	background: #69d0d1;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	display: block;
	border:none;
	padding: 10px 15px;
	margin-top: 1px;
}

.menus a:hover{
	color: #2e5380;
}